html {
	overflow-x: hidden;
}
body {
	font-family: crimson-text-roman, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: pt-sans-narrow-bold;
}

/* Navbar */
.site-navbar {
	font-family: pt-sans-narrow-bold;
	background: #1a0f00;
	min-height: 50px;
	padding: 20px 0;
	border: 0;
	border-bottom: solid 2px #92845e;
}
.site-navbar a {
	color: #92845e;
	border-radius: 7px;
}
.site-navbar .current {
	background: #432907;
}
.site-navbar li a.current:hover {
	background: #432907;
}
.site-navbar li a:hover {
	background: #432907;
}
.site-navbar li a:focus {
	background: #432907;
}
.navbar-brand {
	padding-top: 0;
}
.navbar-toggle .icon-bar {
	background: #92845e;
}
.navbar-toggle {
	border: 1px solid #92845e;
	border-radius: 0;
}

/* Main */
.site-main {
	margin-top: 90px;
}

/* section 1 */
.carousel-caption {
	bottom: 100px;
}
.carousel-caption h3 {
	font-size: 4.5em;
	text-transform: uppercase;
	padding: 10px 25px;
	display: inline-block;
	background: rgba(26, 15, 0, 0.8);
	border-radius: 7px;
}
.carousel-caption span {
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	background: rgba(49, 113, 163, 0.8);
	border-radius: 7px;
}
.carousel-control span {
	top: 50%;
	margin-top: -10px;
	right: 30px;
	position: absolute;
}
.carousel-control.left span {
	right: auto;
	left: 30px;
}

/* all sections */
#section-2,
#section-3,
#section-4,
#section-5,
#blog,
#section-6 {
	padding-top: 60px;
	padding-bottom: 80px;
}
#section-2 h3,
#section-3 h3,
#section-4 h3,
#section-5 h3,
#section-6 h3 {
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 35px;
}

/* section 2 */
#section-2 {
	background-color: #eee8d5;
	border-top: solid 2px #92845e;
}
#section-2 p {
	font-size: 1.3em;
	font-weight: 300;
	color: #444;
}
#section-2 h3 {
	color: #432907;
}
.icon-about a i {
	font-size: 3em;
	margin-right: 10px;
	margin-top: 10px;
	color: #666;
}
.icon-about a i.fa-weibo:hover {
	color: #d52b2b;
}
.icon-about a i.fa-facebook-square:hover {
	color: #3c599f;
}
.icon-about a i.fa-twitter-square:hover {
	color: #5eaade;
}
.icon-about a i.fa-google-plus-square:hover {
	color: #da4735;
}
.icon-about a i.fa-pinterest-square:hover {
	color: #ca2128;
}
.icon-about a i.fa-linkedin:hover {
	color: #017eb4;
}

/* section 3 */
#section-3 {
	background: #2cc97d;
	color: #fff;
	border-top: solid 2px #92845e;
}
#section-3 h3 {
	margin-bottom: 40px;
}
#section-3 p {
	text-align: center;
	font-size: 1.1em;
}
#section-3 span {
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-bottom: 20px;
}
#section-3 span i {
	font-size: 5em;
	padding: 65px 50px;
}
#section-3 span i.fa-mobile {
	font-size: 7.5em;
	padding: 50px 50px;
}
#section-3 span i.fa-thumbs-up {
	padding: 60px 50px;
}
#section-3 h4 {
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

/* section 4 */
#section-4 {
	background-color: #211403;
	color: #92845e;
	border-top: solid 2px #92845e;
}
#section-4 img {
	width: 100%;
	margin-bottom: 20px;
	height: auto;
}
#section-4 h4 {
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}
#section-4 span {
	background: #1b93c7;
	border-radius: 50px;
	padding: 25px 13px;
	position: absolute;
	top: 28%;
	left: 40%;
	display: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	width: 84px;
	height: 84px;
}
#section-4 .imgport {
	position: relative;
}
#section-4 .imgport:hover {
	cursor: pointer;
	opacity: 0.9;
}
#section-4 .imgport:hover span {
	display: block;
}

/* section 5 */
#section-5 {
	/* background-color: #4a76ff; */
	background-color: rgb(49, 113, 163);
	color: #eee8d5;
	border-top: solid 2px #92845e;
}
#section-5 h4 {
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}
#section-5 img {
	width: 100%;
	margin-bottom: 20px;
}
#section-5 ul {
	position: absolute;
	top: 60%;
	left: 16%;
	display: none;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	padding: 0;
	margin: 0;
}
#section-5 ul li {
	display: inline-block;
	background: #1b93c7;
	padding: 0 10px;
}
#section-5 ul li a {
	color: #fff;
	font-size: 1.8em;
}
#section-5 ul li:hover {
	background: #273035;
}
#section-5 .imgteam {
	position: relative;
}
#section-5 .imgteam:hover {
	cursor: pointer;
	opacity: 0.9;
}
#section-5 .imgteam:hover ul {
	display: block;
}


.fluid-wrapper {
	position: relative;
	height: 350px;
	margin-bottom: 40px;
}
.fluid-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/* section 6 */
#section-6 {
	background-color: #eee8d5;
	color: #1a0f00;
	border-top: solid 2px #92845e;
}
#section-6 h3 {
	color: #432907;
}
#section-6 .fa, .media .unicode {
	color: #432907;
}
#section-6 .fa {
	font-size: 1.6em;
}
#section-6 .unicode {
	font-size: 1.4em;
}
#section-6 .media {
	font-size: 4em;
}
#section-6 a {
	color: #1a0f00;
	text-decoration: underline;
}

.maps iframe {
    pointer-events: none;
}

/* footer */
footer {
	background: #1a0f00;
	padding-top: 30px;
	text-align: center;
	font-size: 15px;
	padding-bottom: 100px;
	font-weight: 300;
	color: #92845e;
	border-top: solid 2px #92845e;
}
footer a {
	font-weight: 400;
	color: #7d7765;
	text-shadow: 0;
	text-decoration: underline;
}

.underline {
	text-decoration: underline;
}

.ltd-co-initial {
	font-size: 90%;
}

.ltd-co {
	position: relative;
	top: -0.5em;
	text-transform: uppercase;
	font-size: 50%;
}

.scroll-to-top a {
	color: #fff;
	display: block;
	line-height: 40px;
	width: 40px;
	height: 40px;
}
.scroll-to-top {
	background: #333;
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	border-radius: 4px;
	z-index: 9999;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}
.scroll-to-top.affix {
	opacity: .5;
	filter: alpha(opacity=50);
}
.affix {
	position: fixed;
}

/* MODAL */
.modal-body img {
	width: 100%;
	height: auto;
}
.modal-body {
	padding: 3px;
}
.modal-content {
	border-radius: 0;
}
button.close {
	background: #1b93c7 !important;
	padding: 10px !important;
	opacity: 1 !important;
	text-shadow: none !important;
	color: #fff !important;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

/* CUSTOM RESPONSIVE */
@media (max-width:991px) {
	.site-main {
		margin-top: 90px;
	}
	.carousel-caption {
		top: 0;
		padding: 0;
	}
	.carousel-caption h3 {
		font-size: 1em;
	}
}
@media (max-width:767px) {
	#section-2 h3,
	#section-3 h3,
	#section-4 h3,
	#section-5 h3,
	#blog h3,
	#section-6 h3 {
		font-size: 3em;
	}
	.frm .col-md-6,
	.frm .col-md-12 {
		padding: 0;
	}
	.carousel-caption span {
		font-size: 0.7em;
	}
	.alignright,
	.alignleft {
		width: 100%;
	}
}
