@font-face {
    font-family: 'crimson_textbold';
    src: url('crimsontext-bold-webfont.eot');
    src: url('crimsontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-bold-webfont.woff2') format('woff2'),
         url('crimsontext-bold-webfont.woff') format('woff'),
         url('crimsontext-bold-webfont.ttf') format('truetype'),
         url('crimsontext-bold-webfont.svg#crimson_textbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
